.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
/build
fadecandy-app/build
fadecandy-service/build
fadecandy-app/src/main/obj
fadecandy-app/src/main/libs
fadecandy-service/src/main/obj
fadecandy-service/src/main/libs
fadecandy-app/src/production
fadecandy-app/fabric.properties
