[submodule "service/src/main/jni/rapidjson"]
	path = service/src/main/jni/rapidjson
	url = git://github.com/scanlime/rapidjson.git
[submodule "service/src/main/jni/libws/libwebsockets"]
	path = service/src/main/jni/libws/libwebsockets
	url = git://github.com/akinaru/libwebsockets.git
